.linkContainer{
    width: 100%;
    margin: 31vh auto 0 auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}
.links{
    font-size: 55px;
    text-align: center;
    padding: 30px;
    /* display: inline-block; */
}

@media screen and (max-width:915px){
    .linkContainer{
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .links{
        margin: 0 auto;
        width: 100%;
    }
}