<div class="linkContainer">
    
    <a class="links loc" routerLink="/locations">
        <div style="background-image: url('https://media.giphy.com/media/3o6nUTCOpu49MqAS9W/giphy.gif')">Locations</div>
    </a>
    <a class="links app" routerLink="/appearances">
        <div style="background-image: url('https://media.giphy.com/media/3o6nUTCOpu49MqAS9W/giphy.gif')">Appearances</div>
    </a>
    <a class="links vid" routerLink="/videos">
        <div style="background-image: url('https://media.giphy.com/media/3o6nUTCOpu49MqAS9W/giphy.gif')">Videos</div>
    </a>
    <a class="links art" routerLink="/">
        <div style="background-image: url('https://media.giphy.com/media/3o6nUTCOpu49MqAS9W/giphy.gif')">Art</div>
    </a>
    <a class="links cc" routerLink="/">
        <div style="background-image: url('https://media.giphy.com/media/3o6nUTCOpu49MqAS9W/giphy.gif')">Collecting Creatives</div>
    </a>
</div>