
.linkContainer {
    width: 100vw;
    height: 100vh;
    background: #330033;
    /* padding: 10px; */
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "space arts space2" "locale cc appear" "TimRules vis BaoSucks";

    font-size: 300%;
}

.loc {
    grid-area: locale;
}

.app {
    grid-area: appear;
}

.vid {
    grid-area: vis;
    /* background-image: url(http://img44.laughinggif.com/pic/HTTP3d3dy54cGFuZHByb2R1Y3Rpb25zLmNvLnVrL2ltZy9maWxtLXJlZWwuZ2lm.gif); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size:35%; */
}

.art {
    grid-area: arts;
}

.cc {
    grid-area: cc;
}

.links {
    font-size: 1.4em;
    color: #20dcfa;
    text-shadow: 0px 0px 20px black;
    text-align: center;
    padding: 30px;
    /* display: inline-block; */
}

/* small screens or phones */
@media (max-width:900px){
    .linkContainer {
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
        grid-gap: 10px;
        grid-template-areas: "cc"
                             "appear"
                             "locale"
                             "vis"
                             "arts";
        font-size: 4em;
    }
    .links {
        margin: 0 auto;
        width: 100%;
    }
    .cc{
        font-size: 55px;
    }
    .vid{
        background-position: bottom;
        background-size: 20% 90%;
    }
}
